.Rproj.user
.Rhistory
.RData
.Ruserdata
data/cdl/*.tif
data/cdl/*.tif*
data/*.zip
data/cdl/*.zip
data/gssurgo/*.tif
data/*.tif
manuscript/figures.tex
tables/*.tex
tables/*.png
figures/*.png
figures/*.tex
figures/*.pdf
RAW
EXTRACTIONS/
temp.py
.envrc
data/usgs/*.rds
data/crp/*.rds
data/gssurgo/*.rds
data/macroag/*.rds
data/cafos
*.jpg
data/census/*.rds
data/gis.gpkg
data/macroag/tillage.gpkg
TODO.md
*.rds
figures/*.log
figures/rosm.cache/
Rplots.pdf
manuscript/appendix.tex
